.App {
  text-align: center;
}
.youtube { height:60px ;
           width: 60px; }
.github {height:60px ;
         width: 60px; }
.facebook {height:60px ;
            width: 60px; }
.social {text-align: center ;}
.main {text-align: center;}
.background {text-align: center;
             padding: 50px ;
            height:800px ;
          width : 1250px;}
.photo {position: absolute ;
         margin-top: -750px ;
         margin-left: 200px  ;
     }